@import url("./header.css");

.parallex-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./an.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-attachment: fixed; */
}
.parallex-1 h1 {
  font-weight: 700;
  font-family: "Gugi", sans-serif;
}
.parallex-1 h1 span {
  color: var(--primary-color);
  font-family: "Gugi", sans-serif;
}
.parallex-1 p {
  font-size: 14px;
}

img {
  border-radius: 1rem;
}

.btn1 {
  height: 60px;
  width: 210px;
  background: transparent;
  border: 2px solid white;
  color: white;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn2 {
  height: 60px;
  width: 210px;
  background-color: #45ccb8;
  outline: none;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn1:hover {
  background-color: #45ccb8;
  color: white;
  transition: all 0.3s;
  border: none;
}
.btn2:hover {
  background: transparent;
  border: 2px solid white;
  color: white;
  outline: none;
  border-radius: 4px;
  transition: all 0.3s;
}

.parallex-div-text .l-Heading h1 {
  font-family: "Gugi", sans-serif;
}
.l-Heading h1 span {
  color: var(--primary);
}
.l-Heading h1 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1rem;
}
